<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "application"%>
    <title>Ember UI for Blacklight</title>
  </head>
  <body>
  <%=yield %>
  </body>
</html>


